.search-field__wrap {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.search-text__wrap {
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    padding: 0.1rem;
    gap: 1rem;
}

.search-text__clear{
    background-color: #fd4e4e;
    padding: 0.3rem 1.2rem;
}

.search-text__clear:hover {
    transform: scale(1.05);
    background-color: #ff1c1c;
}

.search-text__clear:active {
    transform: scale(0.95);
}

input {
    border: 1px solid #f1f1f1;
    outline: none;
    padding: 0.5rem;
    border-radius: 10px;
}
